
<div draggable="true" ngClass="{{dragAreaClass}}">
  <div class="row">
    <div class="col-md-12 text-center" >
      <a href="javascript:void(0)" (click)="file.click()" >
        Click to browse
      </a>
      Via Raw Javascript APIs
      <input type="file" #file multiple webkitdirectory odirectory directory msdirectory mozdirectory (change)="onChange($event)" [hidden]="true"/>
    </div>
  </div>

</div>
<div class="row error" *ngIf="errors.length > 0">
  <ul>
    <li *ngFor="let err of errors">{{err}}</li>
  </ul>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Path</th>
      <th>Size</th>
      <th>Last Modified</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let file of fileUploads">
      <td>{{file.name}}</td>
      <td>{{file.fullPath}}</td>
      <td>{{file.size}}</td>
      <td>{{toDate(file.lastModified)}}</td>
    </tr>
  </tbody>
</table>
